In [17]:
number = int(input("Enter an integer number: "))

Enter an integer number: 4

In [18]:
even = []
odd = []
fibonacci = [0,1]

if number > 0:
    for i in range(number):
            even.append(2*i)
            odd.append(2*i+1)
    for i in range(number):
        if i > 1:
            fibonacci.append(fibonacci[i-1]+fibonacci[i-2])
            
            
    print(fibonacci)                 
    print(even)
    print(odd)
            
else:
    print("Please enter an integer greater than 0")

[0, 1, 1, 2]
[0, 2, 4, 6]
[1, 3, 5, 7]

In [10]:
import pandas as pd

In [19]:
numbers_df = pd.DataFrame({'Even':even, 'Odd':odd, 'Fibonacci':fibonacci})

In [20]:
numbers_df

   Even  Odd  Fibonacci
0     0    1          0
1     2    3          1
2     4    5          1
3     6    7          2